<h1>log in</h1>

    <%= form_for @user, url: login_path, method: :post do |f| %>

      <%= f.label :email %><br>
      <%= f.email_field :email %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br>

      <br>
      <%= f.submit "log in" %>
    <% end %>

<p><h2>New user? <%= link_to "Sign up now!", signup_path %></h2></p>