<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @med.name %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @med.dose %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @med.instructions %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pet.name %>
</p>
