<p id="notice"><%= notice %></p>

<div class="container">

  <p>
    <strong>Name:</strong>
    <%= @med.name %>
  </p>

  <p>
    <strong>Dose:</strong>
    <%= @med.dose %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= @med.instructions %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= @pet.name %>
  </p>

  <div class="navbar bottom">
    <%= link_to 'edit', edit_med_path(@med) %>
    <%= link_to 'back', pet_path(@pet) %>
  </div>

</div>