<% if current_user.try(:admin?) %>

<%= form_with(model: veterinarian, local: true) do |form| %>
  <% if veterinarian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veterinarian.errors.count, "error") %> prohibited this veterinarian from being saved:</h2>

      <ul>
        <% veterinarian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.hidden_field(:admin, :value => "false") %>
  </div>

   <div class="field">
     <p>
       <% if current_user.try(:admin) %>
         <%= form.label :admin %>
         <%= form.check_box :admin, :value => "true" %>
       <% else %>
         <%= form.hidden_field(:admin, :value => "false") %>
         </p>
         </div>
       <% end %>

    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
