<p id="notice"><%= notice %></p>

<h1>Veterinarians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veterinarians.each do |veterinarian| %>
      <tr>
        <td><%= veterinarian.name %></td>
        <td><%= veterinarian.admin %></td>
        <td><%= link_to 'Show', veterinarian %></td>
        <td><%= link_to 'Edit', edit_veterinarian_path(veterinarian) %></td>
        <td><%= link_to 'Destroy', veterinarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Veterinarian', new_veterinarian_path %>
