<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: @user.id %>
  </div>

  <div class="field">
    <%= form.label :pet_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>type:</p>
    <p>
      <%= form.radio_button :dog_cat, "dog" %>
      <%= form.label :dog_cat, 'dog' %>
      <%= form.radio_button :dog_cat, "cat" %>
      <%= form.label :dog_cat, 'cat' %>
    </p><br>
  </div>

  <div class="field">
    <br>
    <p>
      <%= form.label :breed %>
      <%= form.text_field :breed %>
    </p>
  </div>

  <div class="field">
    <%= form.collection_select :pet_id, Veterinarian.all, :id, :name, { prompt: 'Please select you veterinarian from this dropdown' } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>