<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pet.dog_cat %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Veterinarian:</strong>
  <%= @pet.veterinarian.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Medications:</strong>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>dose</th>
        <th>instructions</th>
        <th>contact</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @pet.meds.each do |med| %>
          <td><%= med.name %></td>
          <td><%= med.dose %></td>
          <td><%= med.instructions %></td>
          <td><%= current_user.contact_method %></td>
          <td><%= mail_to "#{current_user.email}", current_user.email, subject: "#{@pet.name}'s Rx is ready", body: "come pick up your Rx"  %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
</p>

<%= link_to 'Add Medication', new_med_path %> |
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %> |
