<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pet.dog_cat %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Veterinarian:</strong>
  <%= @pet.veterinarian.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Medications:</strong>
  <ul>
    <% @pet.meds.each do |med| %>
      <li><strong><%= med.name %></strong></li>
      <li><%= med.dose %></li>
      <li><%= med.instructions %></li>
      <br>
    <% end %>
  </ul>
</p>

<%= link_to 'Add Medication', new_med_path %> |
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
