<p id="notice"><%= notice %></p>

<%= form_for @user, controller: 'users', action: 'create' do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
  </div>

  <div class="field">
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %><br>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
  </div>

  <div class="field">
    <%= form.label :phone_number %><br>
    <%= form.number_field :phone_number %><br>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password, :value => @user.password, :required => true %><br>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, :value => @user.password, :required => true %><br>
  </div>

  <div class="field">
    <p>preferred contact method:</p>
    <p>
      <%= form.radio_button :contact_method, "text" %>
      <%= form.label :contact_method, 'text' %>
      <%= form.radio_button :contact_method, "email" %>
      <%= form.label :contact_method, 'email' %>
      <br>
   </p>
  </div>
  <br>

  <div class="field">
    <p>
    <% if current_user.try(:admin) %>
      <%= form.label :admin %>
      <%= form.check_box :admin, :value => "true" %>
    <% else %>
      <%= form.hidden_field(:admin, :value => "false") %>
    </p>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <br>
    <%= form.submit %>
    </p>
  </div>
<% end %>
