<p id="notice"><%= notice %></p>

  <h1>clients</h1>

  <table class="darkTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th> Contact method</th>
        <th>Admin</th>
        <th colspan="3">Links</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= mail_to user.email, user.email, subject: "a note from local pet clinic" %></td>
          <td><%= user.phone_number %></td>
          <td align="center"><%= user.contact_method %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>