<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @user.contact_method %>
</p>

<table>
  <thead>
  <tr>
    <th>Pet Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Veterinarian</th>
    <th colspan="3"></th>
  </tr>
  <tbody>
    <tr>
      <% @user.pets.each do |pet| %>
      <td><%= pet.name %></td>
      <td><%= pet.dog_cat %></td>
      <td><%= pet.breed %></td>
      <td><%= @veterinarian.name %></td>
      <td><%= link_to 'Show', pet %></td>
      <td><%= link_to 'Edit', edit_user_path(pet) %></td>
      <td><%= link_to 'Destroy',pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
        <% end %>
  </tbody>
</table>

<%= link_to 'Add a pet', new_pet_path(@user.id) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
