<!DOCTYPE html>
<html>
  <head>
    <title>MyDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if !logged_in? %>
      <%= link_to 'log in', login_path %> |
    <% else %>
      <%= link_to  'log out', {:controller => 'sessions', :action => 'destroy'}, :method => :delete %> |
    <% end %>
    <%= link_to 'sign up', signup_path %> |
    <%= link_to 'home', root_path %>

  </head>

  <body>
    <%= yield %>

  </body>
</html>
