<!DOCTYPE html>
<html>
  <head>
    <title>MyDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render "layouts/navbar_top" %>

    <div class="bg">
      <div class="container">

      <%= yield %>

    </div>
  </div>
  <br>
  <div class="container_lower">
    <%= render "layouts/navbar_bottom" %>

  </div>
  </body>

<footer style="text-align:right;">&copy; Copyright 2020 MyDog.bluemorpho-blip</footer>

</html>